<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Eat That Burger</h1>
    <p class="lead"></p>
  </div>
</div>


<div class="card addBurger" style="width: 18rem; justify-content: flex-center;"> 
  <h3>ADD A BURGER</h3>
    <form class="create-form">
      <div class="form-group">
        <label for="ca">What kind of Burger do you want?:</label>
        <input type="text" id="burger" name="name">
      </div>
  <button type="submit">ADD BURGER</button>
    </form>
</div>

<br>

  <div class="card displayBurgers" style="width: 18rem;">
      {{!-- <h1 class="text-center"><i class=""></i><i class=""></i></h1> --}}
   <h2>HERE'S YOUR BURGERS</h2>
    <div class="card-body">
      <span>
        <ul>
      {{#each burger}}
      {{#unless devoured}}
      {{> burgers/burger-block devoured = true}}
      {{/unless}}
      {{/each}}
        </ul>
      </span>
    </div>
</div>

<br>

<div class="card devoured" style="width: 18rem;">
  <h4>EAT THE BURGER</h4>
    <span>
      <ul>
    {{#each burger}}
    {{#if devoured}}
    {{> burgers/burger-block devoured = false}}
    {{/if}}
    {{/each}}
      </ul>
    </span>
  </div>
