body {
    background: url("/assets/img/burger.jpeg");
    background-size: cover;
    background-attachment: fixed;
  }

.addBurger {
    text-align: center;
    padding: 3px;
}
.displayBurgers {
    text-align: center;
}
.devoured {
    text-align: center;
}